<div style="margin: 10px; padding: 0px">


  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          {{exhibitor.firstName}} {{exhibitor.lastName}}
        </mat-panel-title>
        <mat-panel-description>
          {{exhibitor.company.name}} - {{exhibitor.company.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label name="firstName">First Name</label>
            <input class="form-control" name="firstName" value={{updatedExhibitor.firstName}} [(ngModel)]="updatedExhibitor.firstName"
            />
          </div>
          <div class="form-group col-md-6">
            <label name="lastName">Last Name</label>
            <input class="form-control" name="lastName" value={{updatedExhibitor.lastName}} [(ngModel)]="updatedExhibitor.lastName" />
          </div>
          <div class="form-group col-md-6">
            <label name="companyName">Company Name</label>
            <input class="form-control" name="companyName" value={{updatedExhibitor.company.name}} [(ngModel)]="updatedExhibitor.company.name"
            />
          </div>
          <div class="form-group col-md-6">
            <label name="title">Title</label>
            <input class="form-control" name="title" value={{updatedExhibitor.company.title}} [(ngModel)]="updatedExhibitor.company.title"
            />
          </div>
          <div class="form-group col-md-12">
            <label name="companyAddress">Company Address</label>
            <input class="form-control" name="companyAddress" value={{updatedExhibitor.company.address}} [(ngModel)]="updatedExhibitor.company.address"
            />
          </div>
          <div class="form-group col-md-12">
            <label name="companyDescription">Company Description</label>
            <input class="form-control" name="companyDescription" value={{updatedExhibitor.company.description}} [(ngModel)]="updatedExhibitor.company.description"
            />
          </div>
          <div class="form-group col-md-4">
            <label name="email">Email</label>
            <input class="form-control" name="email" value={{updatedExhibitor.email}} [(ngModel)]="updatedExhibitor.email" />
          </div>
          <div class="form-group col-md-4">
            <label name="phoneNumber">Phone Number</label>
            <input class="form-control" name="phoneNumber" value={{updatedExhibitor.phoneNumber}} [(ngModel)]="updatedExhibitor.phoneNumber"
            />
          </div>
          <div class="form-group col-md-4">
            <label name="faxNumber">Fax Number</label>
            <input class="form-control" name="phoneNfaxNumberumber" value={{updatedExhibitor.faxNumber}} [(ngModel)]="updatedExhibitor.faxNumber"
            />
          </div>
        </div>

        <div class="row">
          <!-- <div class="form-group col-md-6">
            <label>Company Name</label>
            <input class="form-control" value="" />
          </div>
          <div class="form-group col-md-6">
            <label name="title">Title</label>
            <input class="form-control" value={{updatedExhibitor.personal.title}} [(ngModel)]="updatedExhibitor.personal.title" name="title"
            />
          </div>
          <div class="form-group col-md-6">
            <label>Company Phone Number</label>
            <input class="form-control" value="" />
          </div>
          <div class="form-group col-md-12">
            <label>Company Address</label>
            <input class="form-control" value="" />
          </div> -->
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label name="specialRequests">Special Requests</label>
            <textarea class="form-control" name="specialRequests" rows="4" value={{updatedExhibitor.specialRequests}} [(ngModel)]="updatedExhibitor.specialRequests"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label name="workOrders">Work Orders</label>
            <textarea class="form-control" name="workOrders" rows="4" value={{updatedExhibitor.workOrders}} [(ngModel)]="updatedExhibitor.workOrders"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label name="notes">Notes</label>
            <textarea class="form-control" name="notes" rows="4" value={{updatedExhibitor.notes}} [(ngModel)]="updatedExhibitor.notes"></textarea>
          </div>
          <div class="form-group col-md-6">
            Updated: {{lastUpdate}}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <button class="btn btn-secondary" style="width: 100px" (click)="onCancelChanges()">Cancel</button>
          </div>
          <div class="form-group col-md-6 text-right">
            <button class="btn btn-primary" style="width: 100px" (click)="onSaveChanges()">Save</button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>