<div class="container-fluid" style="margin: 10px 0px 0px 0px">
  <div class="row">

    <div class="col-2 px-1 position-fixed">
      <form>
        <div class="row">
          <div class="form-group container-fluid">
            <input class="form-control" placeholder="First name" />
            <input class="form-control" placeHolder="Last name" />
            <input class="form-control" placeHolder="Company Name" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-left">
            <button class="btn btn-primary" (click)="onSearch()">Search</button>
          </div>
          <div class="col-sm text-center">
            <button class="btn btn-primary" (click)="onClearResults()">Clear Results</button>
          </div>
          <div class="col-sm text-right">
            <button class="btn btn-primary" (click)="onCreateNewExhibitor()">Create Entry</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-2 offset-2 px-1">
      <div *ngFor="let e of filteredExhibitors">
        <app-exhibitor-card [exhibitor]="e" (saveChanges)="onExhibitorSaveChanges($event)"></app-exhibitor-card>
      </div>
    </div>

    <div class="col">
      <app-exhibitor-form></app-exhibitor-form>
    </div>
  </div>
</div>