/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* these two are to fix the exhibitor component title and description alignment problems */
.right-aligned-header > .mat-content {
    justify-content: space-between;
}
.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

/* non-nav buttons */
.mat-button.btn.internal.primary {
  background: #0d47a1;
  color: #ffffff;
}

/* primary color */
.primary {
  background: #0d47a1;
  color: #ffffff;
}