<h1 class="display-4 text-center" style="padding: 30px 0px 30px 0px">
  Exhibitors Database
</h1>

<div class="container-fluid">
  <form>
    <div class="row">
      <div class="form-group col-md-6">
        <input class="form-control" placeholder="First name" />
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" placeHolder="Last name" />
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" placeHolder="Company Name" />
    </div>
    <div class="row">
      <div class="col-sm-3 text-center">
        <button mat-button class="btn internal primary" (click)="onSearch()">Search</button>
      </div>
      <div class="col-sm-3 text-center">
        <button mat-button class="btn internal primary" (click)="onClearResults()">Clear Results</button>
      </div>
      <div class="col-sm-3 text-center">
        <button mat-button class="btn internal primary" (click)="onCreateNewExhibitor()">Create Entry</button>
      </div>
      <div class="col-sm-3 text-center">
        <button mat-button class="btn internal primary" (click)="onSaveAllChanges()">Save All Changes</button>
      </div>
    </div>
  </form>

  <hr class="primary" />

  <div *ngFor="let e of filteredExhibitors">
    <app-exhibitor [exhibitor]="e" (saveChanges)="onExhibitorSaveChanges($event)"></app-exhibitor>
  </div>
</div>