<h3 class="text-center">
  Exhibitors
</h3>

<div class="row">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Comapny">
  </mat-form-field>
  <button mat-button>Search</button>
</div>

<div *ngFor="let e of exhibitors">
  <app-exhibitor [exhibitor]="e" (saveChanges)="onSaveChanges($event)"></app-exhibitor>
</div>